body {
    font-family: arial;
    background-color: black;
    color: green;
    text-align: center;
    display: block;
    margin: 8px;
  }
  
  table {
    border: 2px solid green;
    width: 600px;
    margin: 0 auto;
  }
  
  td {
    border: 1px solid green;
  }